:root {
  --background: url('https://i.imgur.com/AHroYwl.jpg');
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --backgroundposition: center;
}

/* Any custom CSS below here */


